<div class="shopify-form-container">
  {%- if id != blank -%}
    {%- form 'shopify_form', id -%}
      {{ form }}
    {%- endform -%}
  {%- else -%}
    <div class="shopify-form-error">Form ID is required</div>
  {%- endif -%}
</div> 