<!-- Content Start -->
<section class="recipe-banner-area  menu-of-the-month-collection  alt " style="background: url(https://cdn.shopify.com/s/files/1/0583/8415/4690/files/menu-of-the-month-collection-banner.png) no-repeat scroll top center/cover">
    <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/recipe-banner-shape.png" alt="image" class="recipe_shape">
</section>
<!-- Content End -->

<div class="container text-center">
<div class="error-wrap">
    <h1 class="mb-3 text-uppercase">
      <strong>{{ 'general.404_page.title' | t }}</strong>
    </h1>
    <p class="lead mb-5">
      {{ 'general.404_page.subtext' | t }}
    </p>
  
    <a 
      href="{{ routes.root_url }}" 
      class="cta_btn btn_default">
      {{ 'general.404_page.button' | t }} <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/arrow-right-white.svg" alt="icon">
    </a>
  </div>
</div>